In [1]:
#loading the libraries

import pandas as pd
import numpy as np

In [2]:
data_path = '/Users/mscorzoni/Downloads/Data Collection/quant_alunos_2023_2.csv'

data =  pd.read_csv(data_path)
data.head()

,CDREDE,DE,CODMUN,MUN,CATEG,COD_ESC,TIPOESC,CODVINC,NOMESC,ENDESC,...,ED_INFANTIL,CLASSES ESPECIAIS,SALA DE RECURSO,ANOS INICIAIS,ANOS FINAIS,ENSINO MEDIO,EJA FUNDAMENTAL_AI,EJA ENSINO MÉDIO,EJA FUNDAMENTAL_AF,EJA FUNDAMENTAL_MULTI
0,10101,NORTE 1,100,SAO PAULO,1,103,8,NaN,JOAO BOEMER JARDIM PROFESSOR,CRISTOVAO SANTIAGO,...,0,0,0,1028,0,0,0.0,0.0,0.0,0.0
1,10101,NORTE 1,100,SAO PAULO,1,139,8,NaN,MARIANO DE OLIVEIRA PROFESSOR,RUA ALMIRANTE ISAIAS DE NORONHA,...,0,0,0,0,269,1093,0.0,332.0,0.0,0.0
2,10101,NORTE 1,100,SAO PAULO,1,197,8,NaN,AGENOR COUTO DE MAGALHAES DOUTOR,GUILHERME MANKEL,...,0,0,0,0,212,469,0.0,174.0,0.0,0.0
3,10101,NORTE 1,100,SAO PAULO,1,206,8,NaN,ALIPIO DE BARROS PROFESSOR,AVENIDA COMENDADOR FEIZ ZARZUR,...,0,21,0,533,0,0,0.0,0.0,0.0,0.0
4,10101,NORTE 1,100,SAO PAULO,1,218,8,NaN,ANTONIO FRANCISCO REDONDO PROFESSOR,EVANDRO DANTON FERREIRA GANDRA,...,0,0,0,0,0,860,NaN,NaN,NaN,NaN

In [5]:
# calculate 'RAZAO_CLASSE_ESP_ENSINO'
data['RAZAO_CLASSE_ESP_ENSINO'] = data['CLASSES ESPECIAIS'] / (data['ANOS INICIAIS'] + data['ANOS FINAIS'])

In [6]:
# substitute nan 
data['RAZAO_CLASSE_ESP_ENSINO'] = data['RAZAO_CLASSE_ESP_ENSINO'].where((data['CLASSES ESPECIAIS'] != 0) & (data['ANOS INICIAIS'] + data['ANOS FINAIS'] != 0))

In [8]:
# discretization using qcut

data['RAZAO_CLASSE_ESP_ENSINO_Q'] = pd.qcut(data['RAZAO_CLASSE_ESP_ENSINO'], 5, duplicates='drop')

data.head()

,CDREDE,DE,CODMUN,MUN,CATEG,COD_ESC,TIPOESC,CODVINC,NOMESC,ENDESC,...,SALA DE RECURSO,ANOS INICIAIS,ANOS FINAIS,ENSINO MEDIO,EJA FUNDAMENTAL_AI,EJA ENSINO MÉDIO,EJA FUNDAMENTAL_AF,EJA FUNDAMENTAL_MULTI,RAZAO_CLASSE_ESP_ENSINO,RAZAO_CLASSE_ESP_ENSINO_Q
0,10101,NORTE 1,100,SAO PAULO,1,103,8,NaN,JOAO BOEMER JARDIM PROFESSOR,CRISTOVAO SANTIAGO,...,0,1028,0,0,0.0,0.0,0.0,0.0,NaN,NaN
1,10101,NORTE 1,100,SAO PAULO,1,139,8,NaN,MARIANO DE OLIVEIRA PROFESSOR,RUA ALMIRANTE ISAIAS DE NORONHA,...,0,0,269,1093,0.0,332.0,0.0,0.0,NaN,NaN
2,10101,NORTE 1,100,SAO PAULO,1,197,8,NaN,AGENOR COUTO DE MAGALHAES DOUTOR,GUILHERME MANKEL,...,0,0,212,469,0.0,174.0,0.0,0.0,NaN,NaN
3,10101,NORTE 1,100,SAO PAULO,1,206,8,NaN,ALIPIO DE BARROS PROFESSOR,AVENIDA COMENDADOR FEIZ ZARZUR,...,0,533,0,0,0.0,0.0,0.0,0.0,0.0394,"(0.0357, 0.0516]"
4,10101,NORTE 1,100,SAO PAULO,1,218,8,NaN,ANTONIO FRANCISCO REDONDO PROFESSOR,EVANDRO DANTON FERREIRA GANDRA,...,0,0,0,860,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# discretization cut
max_value =  data['RAZAO_CLASSE_ESP_ENSINO'].max()
bins = [0, 0.025, 0.05, 0.075, 0.1, max_value]
data['RAZAO_CLASSE_ESP_ENSINO_I'] = pd.cut(data['RAZAO_CLASSE_ESP_ENSINO'], bins=bins, right=False)

In [10]:
# counting data last intervals to variables discretizables

q_count = data['RAZAO_CLASSE_ESP_ENSINO_Q'].value_counts().iloc[-1]
i_count = data['RAZAO_CLASSE_ESP_ENSINO_I'].value_counts().iloc[-1]

q_count, i_count

(496, 98)

In [26]:
# importing the correct packages

from scipy.stats import zscore
from sklearn.preprocessing import MinMaxScaler

In [27]:
# z-score calculation

data['ENSINO MEDIO_z'] = zscore(data['ENSINO MEDIO'])

In [29]:
# setting up the MinMaxScaller for normalization to the range 0 to 1000

scaler = MinMaxScaler(feature_range=(0,1000))
data['ENSINO MEDIO_mm'] = scaler.fit_transform(data[['ENSINO MEDIO']])
data.head()

,CDREDE,DE,CODMUN,MUN,CATEG,COD_ESC,TIPOESC,CODVINC,NOMESC,ENDESC,...,ENSINO MEDIO,EJA FUNDAMENTAL_AI,EJA ENSINO MÉDIO,EJA FUNDAMENTAL_AF,EJA FUNDAMENTAL_MULTI,RAZAO_CLASSE_ESP_ENSINO,RAZAO_CLASSE_ESP_ENSINO_Q,RAZAO_CLASSE_ESP_ENSINO_I,ENSINO MEDIO_z,ENSINO MEDIO_mm
0,10101,NORTE 1,100,SAO PAULO,1,103,8,NaN,JOAO BOEMER JARDIM PROFESSOR,CRISTOVAO SANTIAGO,...,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,-0.833075,0.000000
1,10101,NORTE 1,100,SAO PAULO,1,139,8,NaN,MARIANO DE OLIVEIRA PROFESSOR,RUA ALMIRANTE ISAIAS DE NORONHA,...,1093,0.0,332.0,0.0,0.0,NaN,NaN,NaN,3.565146,608.913649
2,10101,NORTE 1,100,SAO PAULO,1,197,8,NaN,AGENOR COUTO DE MAGALHAES DOUTOR,GUILHERME MANKEL,...,469,0.0,174.0,0.0,0.0,NaN,NaN,NaN,1.054176,261.281337
3,10101,NORTE 1,100,SAO PAULO,1,206,8,NaN,ALIPIO DE BARROS PROFESSOR,AVENIDA COMENDADOR FEIZ ZARZUR,...,0,0.0,0.0,0.0,0.0,0.0394,"(0.0357, 0.0516]","[0.025, 0.05)",-0.833075,0.000000
4,10101,NORTE 1,100,SAO PAULO,1,218,8,NaN,ANTONIO FRANCISCO REDONDO PROFESSOR,EVANDRO DANTON FERREIRA GANDRA,...,860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.627556,479.108635

In [30]:
# calculating metrics

mean_z = data['ENSINO MEDIO_z'].mean()
median_z = data['ENSINO MEDIO_z'].median()
mean_mm = data['ENSINO MEDIO_mm'].mean()
median_mm = data['ENSINO MEDIO_mm'].median()

In [31]:
round(mean_z, 1), round(median_z, 1), round(mean_mm, 1), round(median_mm, 1)

(0.0, -0.3, 115.3, 74.1)

In [34]:
# removing nan

cols_to_check = ['EJA FUNDAMENTAL_AI', 'EJA ENSINO MÉDIO', 'EJA FUNDAMENTAL_AF', 'EJA FUNDAMENTAL_MULTI']
data_clean =  data.dropna(subset=cols_to_check)
data_clean.head()

,CDREDE,DE,CODMUN,MUN,CATEG,COD_ESC,TIPOESC,CODVINC,NOMESC,ENDESC,...,ENSINO MEDIO,EJA FUNDAMENTAL_AI,EJA ENSINO MÉDIO,EJA FUNDAMENTAL_AF,EJA FUNDAMENTAL_MULTI,RAZAO_CLASSE_ESP_ENSINO,RAZAO_CLASSE_ESP_ENSINO_Q,RAZAO_CLASSE_ESP_ENSINO_I,ENSINO MEDIO_z,ENSINO MEDIO_mm
0,10101,NORTE 1,100,SAO PAULO,1,103,8,NaN,JOAO BOEMER JARDIM PROFESSOR,CRISTOVAO SANTIAGO,...,0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,-0.833075,0.000000
1,10101,NORTE 1,100,SAO PAULO,1,139,8,NaN,MARIANO DE OLIVEIRA PROFESSOR,RUA ALMIRANTE ISAIAS DE NORONHA,...,1093,0.0,332.0,0.0,0.0,NaN,NaN,NaN,3.565146,608.913649
2,10101,NORTE 1,100,SAO PAULO,1,197,8,NaN,AGENOR COUTO DE MAGALHAES DOUTOR,GUILHERME MANKEL,...,469,0.0,174.0,0.0,0.0,NaN,NaN,NaN,1.054176,261.281337
3,10101,NORTE 1,100,SAO PAULO,1,206,8,NaN,ALIPIO DE BARROS PROFESSOR,AVENIDA COMENDADOR FEIZ ZARZUR,...,0,0.0,0.0,0.0,0.0,0.039400,"(0.0357, 0.0516]","[0.025, 0.05)",-0.833075,0.000000
6,10101,NORTE 1,100,SAO PAULO,1,243,8,NaN,ISABEL VIEIRA DE SERPA E PAIVA PROFESSORA,JERIMANDUBA,...,0,0.0,0.0,0.0,0.0,0.057269,"(0.0516, 0.339]","[0.05, 0.075)",-0.833075,0.000000

In [37]:
# creating new attributes
data_clean['EJA_TOTAL'] = data_clean['EJA FUNDAMENTAL_AI'] + data_clean['EJA ENSINO MÉDIO'] + data_clean['EJA FUNDAMENTAL_AF'] + data_clean['EJA FUNDAMENTAL_MULTI']
data_clean['FUND_MEDIO_TOTAL'] = data_clean['ANOS INICIAIS'] + data_clean['ANOS FINAIS'] + data_clean['ENSINO MEDIO']

data_clean.head()

/var/folders/lt/qc1yw6h16hgb5h1xvlmn_r_80000gp/T/ipykernel_1364/986382237.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['EJA_TOTAL'] = data_clean['EJA FUNDAMENTAL_AI'] + data_clean['EJA ENSINO MÉDIO'] + data_clean['EJA FUNDAMENTAL_AF'] + data_clean['EJA FUNDAMENTAL_MULTI']
/var/folders/lt/qc1yw6h16hgb5h1xvlmn_r_80000gp/T/ipykernel_1364/986382237.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['FUND_MEDIO_TOTAL'] = data_clean['ANOS INICIAIS'] + data_clean['ANOS FINAIS'] + data_clean['ENSINO MEDIO']

,CDREDE,DE,CODMUN,MUN,CATEG,COD_ESC,TIPOESC,CODVINC,NOMESC,ENDESC,...,EJA ENSINO MÉDIO,EJA FUNDAMENTAL_AF,EJA FUNDAMENTAL_MULTI,RAZAO_CLASSE_ESP_ENSINO,RAZAO_CLASSE_ESP_ENSINO_Q,RAZAO_CLASSE_ESP_ENSINO_I,ENSINO MEDIO_z,ENSINO MEDIO_mm,EJA_TOTAL,FUND_MEDIO_TOTAL
0,10101,NORTE 1,100,SAO PAULO,1,103,8,NaN,JOAO BOEMER JARDIM PROFESSOR,CRISTOVAO SANTIAGO,...,0.0,0.0,0.0,NaN,NaN,NaN,-0.833075,0.000000,0.0,1028
1,10101,NORTE 1,100,SAO PAULO,1,139,8,NaN,MARIANO DE OLIVEIRA PROFESSOR,RUA ALMIRANTE ISAIAS DE NORONHA,...,332.0,0.0,0.0,NaN,NaN,NaN,3.565146,608.913649,332.0,1362
2,10101,NORTE 1,100,SAO PAULO,1,197,8,NaN,AGENOR COUTO DE MAGALHAES DOUTOR,GUILHERME MANKEL,...,174.0,0.0,0.0,NaN,NaN,NaN,1.054176,261.281337,174.0,681
3,10101,NORTE 1,100,SAO PAULO,1,206,8,NaN,ALIPIO DE BARROS PROFESSOR,AVENIDA COMENDADOR FEIZ ZARZUR,...,0.0,0.0,0.0,0.039400,"(0.0357, 0.0516]","[0.025, 0.05)",-0.833075,0.000000,0.0,533
6,10101,NORTE 1,100,SAO PAULO,1,243,8,NaN,ISABEL VIEIRA DE SERPA E PAIVA PROFESSORA,JERIMANDUBA,...,0.0,0.0,0.0,0.057269,"(0.0516, 0.339]","[0.05, 0.075)",-0.833075,0.000000,0.0,454

In [38]:
# log transformation

data_clean['EJA_TOTAL_L'] = np.log2(data_clean['EJA_TOTAL']+1)
data_clean['FUND_MEDIO_TOTAL_L'] = np.log2(data_clean['FUND_MEDIO_TOTAL']+1)

/var/folders/lt/qc1yw6h16hgb5h1xvlmn_r_80000gp/T/ipykernel_1364/1143584311.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['EJA_TOTAL_L'] = np.log2(data_clean['EJA_TOTAL']+1)
/var/folders/lt/qc1yw6h16hgb5h1xvlmn_r_80000gp/T/ipykernel_1364/1143584311.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean['FUND_MEDIO_TOTAL_L'] = np.log2(data_clean['FUND_MEDIO_TOTAL']+1)

In [39]:
# correlaction matrix

correlation_matrix = data_clean[['EJA_TOTAL', 'FUND_MEDIO_TOTAL', 'EJA_TOTAL_L', 'FUND_MEDIO_TOTAL_L']].corr()
correlation_matrix

,EJA_TOTAL,FUND_MEDIO_TOTAL,EJA_TOTAL_L,FUND_MEDIO_TOTAL_L
EJA_TOTAL,1.000000,-0.046551,0.555710,-0.258882
FUND_MEDIO_TOTAL,-0.046551,1.000000,0.044857,0.689055
EJA_TOTAL_L,0.555710,0.044857,1.000000,-0.208242
FUND_MEDIO_TOTAL_L,-0.258882,0.689055,-0.208242,1.000000